{% extends 'APYJsFormValidationBundle::JsFormValidation.js.twig' %}

{% block before %}
YUI().use('node', function (Y) {
{% endblock %}

{% block removeErrors %}
var errosField = Y.one(field).ancestor().all('.error_list').remove();
{% endblock %}

{% block addError %}
// Add errors block
field = Y.one(field);
if (field.ancestor().all('.error_list').size() == 0) {
    field.insert('<ul class="error_list"></ul>', 'before');
}

// Add error
field.previous('ul').append('<li>'+errorMessage+'</li>');
{% endblock %}

{% block onEvent %}
Y.one(field).on(eventType, handler);
{% endblock %}

{% block onReady %}
Y.on('domready',jsfv.onReady);
{% endblock %}

{% block after %}
});
{% endblock %}